<section class="blog">
  <div class="container blog-box-container">
    <div class="blog-box">
      <p class="blog-subtitle">April 16 2020</p>
      <h2 class="blog-title">Blog Post One</h2>
      <p class="blog-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="blog-button" type="button">Read Our Blog</button>
    </div>
    <img class="blog-image" src="./images/blog.jpg" alt="Notes" width="680" />
  </div>
</section>
