<section class="cases">
  <div class="container cases-container">
    <p class="cases-subtitle">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list">
      <li class="cases-item">
        <img
          class="cases-image"
          src="./images/cases-8.jpg"
          alt="Team descusion the project"
          width="320"
        />
      </li>
      <li class="cases-item">
        <img
          class="cases-image"
          src="./images/cases-6.jpg"
          alt="Statistic"
          width="320"
        />
      </li>
      <li class="cases-item">
        <img
          class="cases-image"
          src="./images/cases-4.jpg"
          alt="Handshake"
          width="320"
        />
      </li>
      <li class="cases-item">
        <img
          class="cases-image"
          src="./images/cases-2.jpg"
          alt="Teambuilding"
          width="320"
        />
      </li>
      <li class="cases-item">
        <img
          class="cases-image"
          src="./images/cases-7.jpg"
          alt="Girl works on notebook"
          width="320"
        />
      </li>
      <li class="cases-item">
        <img
          class="cases-image"
          src="./images/cases-5.jpg"
          alt="Skyscraper"
          width="320"
        />
      </li>
      <li class="cases-item">
        <img
          class="cases-image"
          src="./images/cases-3.jpg"
          alt="Team"
          width="320"
        />
      </li>
      <li class="cases-item">
        <img
          class="cases-image"
          src="./images/cases-1.jpg"
          alt="Team working"
          width="320"
        />
      </li>
    </ul>
  </div>
</section>
